.DS_Store
irssi/config
config/fish/fish_history
config/fish/fishd.nitrogen
emacs.d/*
emacs.d.bak/*
!emacs.d/init.el
!emacs.d/init.d
config/fish/fish_read_history
config/fish/fishd.*
config/fisher

# fisher install decors/fish-ghq
config/fish/functions/__ghq_repository_search.fish
config/fish/conf.d/ghq_key_bindings.fish
config/fish/completions/ghq.fish

config/.exercism.json
config/hub
config/direnv
config/zed
config/raycast
config/inngest
config/op

boot/cache
boot/credentials*

atom/.apm
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/packages
atom/recovery
atom/storage

config/karabiner/automatic_backups/

config/gcloud
config/configstore

config/nvim/autoload/plug.vim
config/nvim/autoload/plug.vim.old

hammerspoon/Spoons
