[submodule "vim"]
	path = vim
	url = git@github.com:mklappstuhl/.vim.git
[submodule "dot-files"]
	path = bin/dot-files
	url = git://github.com/mklappstuhl/dot-files.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/mklappstuhl/oh-my-zsh.git
