.DS_Store
irssi/config
config/fish/fish_history
config/fish/fishd.nitrogen
emacs.d/*
emacs.d.bak/*
!emacs.d/init.el
!emacs.d/init.d
config/fish/fish_read_history
config/fish/fishd.*
config/fisher

config/.exercism.json
config/hub
config/direnv

boot/cache
boot/credentials*

atom/.apm
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/packages
atom/recovery
atom/storage

hammerspoon/Spoons/
config/karabiner/automatic_backups/

config/gcloud
config/configstore
