[
  {
    title: "martinklepsch.com"
    paths: [
      "/Users/martin/code/martinklepsch.com"
      "/Users/martin/projects/paygarden/cardcat"
    ]
  }
  {
    title: "paygarden/cardcat"
    paths: [
      "/Users/martin/projects/paygarden/cardcat"
    ]
  }
]
